@import '../../find-my-blocks.css';

.alert {
  padding: var(--fmb-spacing-base);
  border-top: 3px solid var(--fmb-grey);
  background: var(--fmb-grey--light);
  margin: var(--fmb-spacing-small) 0 0;
  font-weight: bold;
}

.success {
  background: var(--fmb-success--light);
  border-top-color: var(--fmb-success);
}

.warning {
  background: var(--fmb-warning--light);
  border-top-color: var(--fmb-warning);
}

.error {
  background: var(--fmb-error--light);
  border-top-color: var(--fmb-error);
}
