.menu {
  background: var(--fmb-white);
  flex: 0 0 calc(var(--fmb-font-base) * 18);
  position: sticky;
  top: 2rem;
  padding: 2rem 0;
  border-radius: 3px;
}

.menu svg {
  max-width: 60%;
  display: block;
  margin: 0 auto 1.5rem;
}
