.app  {
  padding: 16px;
  display: grid;
  grid-template-columns: 275px 1fr 275px;
  gap: 24px;
}

.sidebar {
  grid-row: 1 / 5;
}

.heading  {
  grid-column: 2 / 4;
  margin-bottom: -16px;
}

.footer {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}
