.layout {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    'logo .'
    'menu settings'
    'menu heading'
    'menu cards'
    'menu .'
    'menu footer';
  grid-template-columns: 275px 1fr;
  margin: 2em 0;
}

.large {
  grid-template-areas:
    'logo heading .'
    'menu cards settings'
    'menu . settings'
    'footer footer footer';
  grid-template-columns: 275px 1fr 250px;
}

.logo {
  text-align: center;
}

.sidebar {
  grid-area: menu;
}

.settings {
  grid-area: settings;
  margin-bottom: 2em;
}

.large .settings {
  margin-bottom: 0;
}

.heading {
  grid-area: heading;
}

.large .heading {
  align-self: end;
}

.cards {
  grid-area: cards;
}

.xlarge .cards,
.xlarge .heading {
  margin-right: 2em;
}

.footer {
  grid-area: footer;
}
