.layout {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    'logo null1'
    'menu settings'
    'menu heading'
    'menu cards'
    'menu null2'
    'menu footer';
  grid-template-columns: 275px 1fr;
}

@media (min-width: 1420px) {
  .layout {
    grid-template-areas:
      'logo heading .'
      'menu cards settings'
      'menu . settings'
      'footer footer footer';
    grid-template-columns: 275px 1fr 250px;
  }
}

.logo {
  text-align: center;
}

.sidebar {
  grid-area: menu;
}

.settings {
  grid-area: settings;
  margin-bottom: 2em;
}

@media (min-width: 1420px) {
  .settings {
    margin-bottom: 0;
  }
}

.heading {
  grid-area: heading;
}

@media (min-width: 1420px) {
  .heading {
    align-self: end;
  }
}

.cards {
  grid-area: cards;
}

@media (min-width: 1675px) {
  .cards,
  .heading {
    margin-right: 2em;
  }
}

.footer {
  grid-area: footer;
}
