.button {
  display: block;
  position: relative;
  padding: 0.75em 3.5em 0.75em 1em;
  transition: color 300ms, background 300ms;
  border: none;
  border-bottom: 1px solid var(--fmb-grey);
  background: var(--fmb-white);
  color: var(--fmb-grey--darkest);
  font-size: 0.875em;
  cursor: pointer;
  appearance: none;
}

.button:nth-child(2n+2) {
  background: var(--fmb-grey--light);
}

.button:not(.active):hover {
  color: var(--fmb-red);
}

.button svg {
  position: absolute;
  top: 50%;
  right: 1.5em;
  width: 1.25em;
  height: 1.25em;
  transform: translateY(-50%);
  transition: right 300ms;
  opacity: 0.8;
}

.button:not(.active):hover svg {
  right: 1em;
}

.label {
  display: block;
  margin-bottom: 0.25em;
  font-size: 1.25em;
  font-weight: 500;
}

.button.active {
  background: var(--fmb-red);
  color: var(--fmb-white);
  cursor: default;
}
