.card {
  border: 1px solid #eee;
  border-radius: 2px;
  background: white;
}

.title {
  padding: 0.675em 1em;
  border-bottom: 1px solid #eee;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.body {
  padding: 1em;
}

.body p:first-of-type {
  margin-top: 0;
}
