.card {
  border: 1px solid #eee;
  border-radius: 2px;
  background: white;
}

.title {
  display: flex;
  padding: 0.675em 1em;
  border-bottom: 1px solid #eee;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.title svg {
  flex: 0 0 auto;
  width: 1.25em;
  height: 1.25em;
  margin: 0 0 0 auto;
  vertical-align: middle;
}

.title.togglable {
  cursor: pointer;
}

.body {
  padding: 1em;
}

.body p:first-of-type {
  margin-top: 0;
}

.hidden {
  display: none;
}
