.menuItem {
  display: block;
  font-weight: bold;
  font-size: var(--fmb-font-med-small);
  cursor: pointer;
  padding: var(--fmb-spacing-small) var(--fmb-spacing-base) var(--fmb-spacing-small);
  transition: background 300ms;
  border-top: 1px solid var(--fmb-grey--light);
  color: var(--fmb-grey--dark);
}

.menuItem:hover,
.menuItem:focus {
  outline: none;
  box-shadow: none;
  background: var(--fmb-grey--light);
  color: var(--fmb-grey--dark);
}

.active,
.active:hover,
.active:focus {
  transition: none;
  position: relative;
  background: var(--fmb-red);
  color: white;
  pointer-events: none;
  outline: none;
  box-shadow: none;
}

.active::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 6px solid var(--fmb-red);
  border-bottom: 6px solid transparent;
  right: -6px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.count {
  font-weight: 400;
  display: block;
  margin-top: 3px;
  font-size: 0.8125rem;
}
