:root {
  --loading-size: 5em;
  --loading-hue-speed: 3s;
  --loading-spinner-speed: 8;
  --loading-spinner-time: calc(var(--loading-spinner-speed) * 1s);
  --loading-spinner-square-time: calc(var(--loading-spinner-speed) / 7 * 1s);
}

.loading {
  position: relative;
  width: var(--loading-size);
  height: var(--loading-size);
  animation: hue-rotate var(--loading-hue-speed) linear infinite both;
}

.square {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--loading-size) / 3.42);
  height: calc(var(--loading-size) / 3.42);
  margin: 0.125em;
  margin: calc(var(--loading-size) / 48);
  animation: square-animation var(--loading-spinner-time) ease-in-out infinite both;
  border-radius: 2px;
  background: var(--fmb-red);
}

.square:nth-of-type(0) {
  animation-delay: 0s;
}

.square:nth-of-type(1) {
  animation-delay: calc(var(--loading-spinner-square-time) * -1);
}

.square:nth-of-type(2) {
  animation-delay: calc(var(--loading-spinner-square-time) * 2 * -1);
}

.square:nth-of-type(3) {
  animation-delay: calc(var(--loading-spinner-square-time) * 3 * -1);
}

.square:nth-of-type(4) {
  animation-delay: calc(var(--loading-spinner-square-time) * 4 * -1);
}

.square:nth-of-type(5) {
  animation-delay: calc(var(--loading-spinner-square-time) * 5 * -1);
}

.square:nth-of-type(6) {
  animation-delay: calc(var(--loading-spinner-square-time) * 6 * -1);
}

.square:nth-of-type(7) {
  animation-delay: calc(var(--loading-spinner-square-time) * 7 * -1);
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes square-animation {
  0% {
    top: 0;
    left: 0;
  }

  10.5% {
    top: 0;
    left: 0;
  }

  12.5% {
    top: 0;
    left: calc(var(--loading-size) / 3);
  }

  23% {
    top: 0;
    left: calc(var(--loading-size) / 3);
  }

  25% {
    top: 0;
    left: calc(var(--loading-size) / 1.5);
  }

  35.5% {
    top: 0;
    left: calc(var(--loading-size) / 1.5);
  }

  37.5% {
    top: calc(var(--loading-size) / 3);
    left: calc(var(--loading-size) / 1.5);
  }

  48% {
    top: calc(var(--loading-size) / 3);
    left: calc(var(--loading-size) / 1.5);
  }

  50% {
    top: calc(var(--loading-size) / 3);
    left: calc(var(--loading-size) / 3);
  }

  60.5% {
    top: calc(var(--loading-size) / 3);
    left: calc(var(--loading-size) / 3);
  }

  62.5% {
    top: calc(var(--loading-size) / 1.5);
    left: calc(var(--loading-size) / 3);
  }

  73% {
    top: calc(var(--loading-size) / 1.5);
    left: calc(var(--loading-size) / 3);
  }

  75% {
    top: calc(var(--loading-size) / 1.5);
    left: 0;
  }

  85.5% {
    top: calc(var(--loading-size) / 1.5);
    left: 0;
  }

  87.5% {
    top: calc(var(--loading-size) / 3);
    left: 0;
  }

  98% {
    top: calc(var(--loading-size) / 3);
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}
