.holder {
  flex: 1;
  padding: 0 0 var(--fmb-spacing-large) var(--fmb-spacing-large);
}

.list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--fmb-spacing-base);
  grid-auto-rows: min-content;
}

.title {
  color: var(--fmb-grey--dark);
  margin: 0 0 var(--fmb-spacing-large);
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 3px;
  border-left: 5px solid var(--fmb-red);
  background: var(--fmb-white);
}
