.help .components-base-control__help {
  margin-top: 8px;
}

.save {
  margin-top: 8px;
}

.notice {
  margin: 0 -16px 16px;
  padding-right: 16px !important;
}

.notice div {
  display: inline !important;
}

.notice div a {
  margin: 0 8px !important;
}
