:root {
  --fmb-blue: #5c9aa9;
  --fmb-blue--dark: #518997;

  /** success */
  --fmb-success: #3adb76;
  --fmb-success--light: #b5edca;

  /** warning **/
  --fmb-warning: #eed202;
  --fmb-warning--light: #f8efae;

  /** error */
  --fmb-error: #cc4b37;
  --fmb-error--light: #f6cbc4;

  /** greyscale */
  --fmb-white: #fdfdfd;
  --fmb-grey: #e0e0e0;
  --fmb-grey--light: #f0f0f0;
  --fmb-wp-grey: #f1f1f1;

  /** spacing **/
  --fmb-spacing-base: 16px;
  --fmb-spacing-mini: calc(var(--fmb-spacing-base) / 3);
  --fmb-spacing-small: calc(var(--fmb-spacing-base) / 2);
  --fmb-spacing-large: calc(var(--fmb-spacing-base) * 2);

  /** font sizes **/
  --fmb-font-base: 16px;
  --fmb-font-med-small: calc(var(--fmb-font-base) * 0.875);
  --fmb-font-small: calc(var(--fmb-font-base) * 0.75);
  --fmb-font-large: calc(var(--fmb-font-base) * 1.5);
}
