.settings {
  border-radius: 3px;
  border: 1px solid #e2e4e7;
}

.settings :global(.components-panel__row) {
  display: block;
}

.settings :global(.components-panel__row) + :global(.components-panel__row) {
  margin-top: 16px;
}
