.link {
  display: inline-block;
}

.link:hover {
  text-decoration: none;
}

.link svg {
  width: 1em;
  height: 1em;
  margin-top: -0.15em;
  margin-right: 0.25em;
  vertical-align: middle;
}

.link + .link {
  margin-left: 0.75em;
}
