name: Lint & Test
on: [pull_request]

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: "Lint"
      run: |
        npm install
        npm run lint
  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: "Test"
      run: |
        npm install
        npm run test
